<div class="col-md-5 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
      <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label>UserName</label>
          <input type="text"
                  #userName="ngModel"
                  required class="form-control"
                  [class.is-invalid]="userName.invalid && userName.touched"
                  name="userName"
                  [(ngModel)]="userLogin.Username">
          <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Name is required</small>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password"
                  #password="ngModel"
                  required class="form-control"
                  [class.is-invalid]="password.invalid && password.touched"
                  name="password"
                  [(ngModel)]="userLogin.Password">
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
        </div>

        <button class="btn btn-primary" [disabled]="userForm.form.invalid" type="submit">Submit form</button>

      </form>
      <div class="alert alert-danger mt-3" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
  </div>
</div>
