<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-1">
      <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="throwLocalError()" type="button">Throw Local Error</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="throwServerError()" type="button">Throw Server Error</button>
    </div>

</div>
<div *ngIf="jsonFile">
  <pre>{{jsonFile | json}}</pre>
</div>

